/* ADMIN */

.Admin__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Admin__form {
  width: 30%;
  height: 50%;
  background: rgb(133, 133, 133);
  background: linear-gradient(
    0deg,
    rgba(133, 133, 133, 1) 0%,
    rgba(133, 133, 133, 1) 15%,
    rgba(133, 133, 133, 0.10752804539784666) 100%
  );
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Admin__div__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25%;
}

.Admin__label {
  font-size: 1.3em;
  font-style: italic;
  font-weight: 800;
}

.Admin__input {
  width: 100%;
  height: 3vh;
  border-radius: 10px;
  border: 1px solid #fff;
  background: none;
  padding: 1em;
}

.Admin__button {
  width: 30%;
  height: 10%;
  border: none;
  background: none;
  transition: 0.4s ease-in-out all;
  cursor: pointer;
  font-size: 1em;
  font-style: italic;
}

.Admin__button:hover {
  background-color: #000;
  border-radius: 15px;
}

.Admin__panel {
  display: none;
}

/* PANEL ADMIN */

.PanelAdmin__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.PanelAdmin__nav {
  background-color: midnightblue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PanelAdmin__ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.PanelAdmin__forms {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
}

.PanelAdmin__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PanelAdmin__form__div {
  width: 70%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(66, 66, 66);
  background: linear-gradient(
    0deg,
    rgba(66, 66, 66, 1) 0%,
    rgba(65, 65, 65, 0.8834384095435049) 15%,
    rgba(0, 0, 0, 0.28119751318496145) 100%
  );
  border-radius: 15px;
}
.PanelAdmin__form__input {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}
.PanelAdmin__form__input label {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  color: #fff;
}
.PanelAdmin__form__input input {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 0.1rem;
  padding: 1em;
}
.PanelAdmin__form__input textarea {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 10vh;
  padding: 1em;
}

.PanelAdmin__form__input select {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1em;
}

.PanelAdmin__form__reset {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.PanelAdmin__form__reset h5 {
  width: 70%;
}

.PanelAdmin__form__reset button {
  background: none;
  border: none;
}
.PanelAdmin__form__button {
  width: 10rem;
  height: 3rem;
  margin-bottom: 2rem;
  background-color: rgb(66, 66, 66);
  font-size: 1.5rem;
  transition: 0.3s ease-in all;
}
.PanelAdmin__form__button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.PanelAdmin__Habilidad {
  width: 100%;
  height: 100%;
  background-color: green;
}

.PanelAdmin__update__container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.PanelAdmin__update__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid darkblue;
  height: 35rem;
  width: 40%;
}

.PanelAdmin__update__buttons button {
  width: 50%;
  font-size: 1rem;
  padding: 1em;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  transition: 0.3s ease-in all;
}

.PanelAdmin__update__buttons button:hover {
  transform: translateX(25%);
  background-color: blue;
}

.PanelAdmin__update {
  border: 2px solid darkblue;
  color: #fff;
  height: 35rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.PanelAdmin__update label {
  font-size: 1rem;
}

.PanelAdmin__update input {
  padding: 0.5em;
  width: 80%;
}

.PanelAdmin__update textarea {
  padding: 1em;
  width: 80%;
}

.PanelAdmin__update select {
  padding: 0.5em;
  width: 80%;
}
