@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;900&family=Roboto+Slab:wght@200&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #000;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #3d3d3d;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


:root {
  --stars: #e8eaed;
}