.Habilidades__container {
  background: rgb(4,0,145);
  background: linear-gradient(0deg, rgba(4,0,145,1) 0%, rgba(4,0,145,1) 15%, rgba(4,0,145,0.10752804539784666) 100%);
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Habilidades__div{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}

.Habilidades__tecnologia{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(66,66,66);
  background: linear-gradient(0deg, rgba(66,66,66,1) 0%, rgba(65,65,65,0.8834384095435049) 15%, rgba(0,0,0,0.28119751318496145) 100%);  
  width: 10rem;
  height: 8rem;
  margin-bottom: 1rem;
  padding: 0.2em 2em;
  border-radius: 15px;
  transition: 0.3s ease-in-out all;
}

.Habilidades__tecnologia:hover{
  background-color: #000;
}