.Habilidades__container {
  background-image: url("../public/—Pngtree—indoor\ office_1198573.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Habilidades__title {
  color: #fff;
  font-size: 3rem;
  height: 1rem;
}

.Habilidades__container h4 {
  color: #fff;
  font-size: 1.4rem;
 
}

.Habilidades__div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: rgb(147,147,147);
background: linear-gradient(90deg, rgba(147,147,147,1) 0%, rgba(0,0,0,1) 51%, rgba(147,147,147,1) 100%);
  border-radius: 25px;
}

.Habilidades__div__frontend {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: #fff;
}

.Habilidades__div h1 {
  color: #fff;
}

.Habilidades__map {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.Habilidades__map div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BACKEND */

.Habilidades__div__backend {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  color: #fff;
}

.Habilidades__div__otros {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .Habilidades__container h4 {
    margin-left: 1.5rem;
  }
  .Habilidades__map {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 25rem;
  }
}

@media screen and (max-width: 1200px) {
  .Habilidades__div {
    width: 80%;
  }
  .Habilidades__map {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 25rem;
  }
}

@media screen and (max-width: 900px) {
  .Habilidades__div {
    width: 80%;
  }
  .Habilidades__map {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 25rem;
  }
}


@media screen and (max-width: 700px) {
  .Habilidades__div {
    width: 80%;
  }
  .Habilidades__map {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 25rem;
  }
}


@media screen and (max-width: 500px) {
  .Habilidades__div {
    width: 90%;
  }
  .Habilidades__map {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 25rem;
  }
}
