.home__container {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0) 0%,
    rgb(0, 0, 0) 50%,
    rgba(0, 0, 0) 100%
  );
  /* background: rgb(120, 111, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 50%,
    rgb(255, 255, 255) 100%
  ); */
  width: 100%;
  height: 100vh;
}

.home__divMayor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.home__title {
  font-family: Roboto;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  color: #fff;
  height: 20%;
}
.home__divMayor span {
  font-size: 2rem;
  font-family: Roboto;
  color: #fff;
}

.home__ul {
  display: flex;
  width: 30%;
  height: 30%;
  justify-content: space-evenly;
  align-items: center;
}

.home__ul li button {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: none;
  background-color: #fff;
}

/* Formulario */

.home__contacto {
  width: 80%;
  background-color: rgb(0, 0, 0);
  border: 0.3rem solid #fff;
  height: 60%;
  border-radius: 10px;
}

.home__form {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 100%;
}

.home__form label {
  font-family: Roboto;
  font-size: 1.2rem;
  color: #fff;
}

.home__form input {
  width: 50%;
  height: 1.3rem;
  border-radius: 10px;
  padding: 0.2rem;
}

.home__form textarea {
  border-radius: 10px;
  padding: 0.2rem;
  height: 30%;
}

.home__form button {
  width: 20%;
  height: 2rem;
  border: 0.2rem solid rgb(112, 112, 112);
  background: #141414;
  color: #fff;
}
