.index__container {
  background-image: url("../public/—Pngtree—indoor\ office_1198573.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:local;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index__divMayor {
  width: 70%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(133,133,133);
  background: linear-gradient(0deg, rgba(133,133,133,1) 0%, rgba(133,133,133,1) 15%, rgba(133,133,133,0.10752804539784666) 100%);
  border: 1px solid black;
  border-radius: 25px;
  box-shadow:1rem 1rem 2rem black;
}

.index__divTitle{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lenguajes{
  position: absolute;
  top: 5%;
  right: 5%;
}

.index__divTitle h1{
  font-size: 4.5rem;
  color: #252420;
}

.divTypewriter{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typewriter{
  color: #000;
  font-size: 2rem;
  font-weight: 300;
}


.index__buttons{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.Index__button {
  align-items: center;
  justify-content: center;
  background: #252420;
  color: #fff;
  width: 8rem;
  height: 4rem;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.Index__button:hover {
  transition: 0.3s ease all;
  color: #000;
}

.Index__button span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
  
}

.Index__button::after {
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(-100% - 80px);
  border-bottom: 80px solid #FEFEFE;
  border-right: 80px solid transparent;
  transition: 0.4s ease-in-out all;
}

.Index__button:hover::after {
  left: 0;
}


.index__idiomas{
  width: 5rem;
  position: absolute;
  top: 33.3%;
  left: 17.4%;
}


.index__ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-right: 2.7rem;
}

@media screen and (max-width: 1200px) {
  .index__divMayor{
    width: 70%;
  }
  .index__divTitle h1{
    font-size: 2.4rem;
  }
  .typewriter{
    font-size: 1rem;
  }
  .Index__button{
    width: 6rem;
    height: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .index__divMayor{
    width: 70%;
  }
  .index__divTitle h1{
    font-size: 2.4rem;
  }
  .typewriter{
    font-size: 1rem;
  }
  .Index__button{
    width: 6rem;
    height: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .index__divMayor{
    width: 70%;
  }
  .index__divTitle h1{
    font-size: 2.4rem;
  }
  .typewriter{
    font-size: 1rem;
  }
  .Index__button{
    width: 6rem;
    height: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .index__divMayor{
    width: 70%;
  }
  .index__divTitle h1{
    font-size: 2.4rem;
  }
  .typewriter{
    font-size: 1rem;
  }
  .Index__button{
    width: 6rem;
    height: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .index__divMayor{
    width: 70%;
  }
  .index__divTitle h1{
    font-size: 2.4rem;
  }
  .typewriter{
    font-size: 1rem;
  }
  .Index__button{
    font-size: 0.8rem;
    width: 5rem;
    height: 2rem;
  }
}




