.Layout__container {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
}

.Layout__Home a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.Layout__Buttons {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.Layout__Buttons__title {
  font-size: 1.5em;
}

.Layout__line {
  display: block;
  height: 0.2rem;
  width: 100%;
  background-color: #fff;
  transform: translateX(-101%);
  transition: 0.3s;
  transform-origin: left;
}

.Layout__li {
  overflow: hidden;
}

.Layout__button__span {
  color: #fff;
}

.Layout__button__span:hover + .Layout__line {
  transform: translateX(0);
}

.Layout__li {
  list-style: none;
}

.Layout__menu {
  display: none;
}

.Layout__menu__container {
  display: none;
}
.Layout__Lenguajes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Layout__MenuDesplegable {
  display: none;
}

@media screen and (max-width: 1000px) {
  .Layout__container {
    justify-content: flex-start;
  }
  .Layout__MenuDesplegable {
    display: flex;
  }
  .Layout__Home {
    display: none;
  }
  .Layout__Buttons {
    display: none;
  }
  .Layout__Lenguajes {
    display: none;
  }
}
