.Layout__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 13vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
}

.Layout__titulo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Layout__portafolio {
  padding: 1rem;
  cursor: pointer;
}

.Layout__title {
  height: 3rem;
  font-size: 2.8rem;
  letter-spacing: 0.5rem;
  color: #fff;
}

.Layout__ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.Layout__li {
  list-style: none;
}

.Layout__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  background: #141414;
  color: #fff;

  font-size: 20px;
  font-weight: 500;
  border: 0.2rem solid rgb(112, 112, 112);
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.Layout__button:hover {
  transition: 0.3s ease all;
  color: #000;
}

.Layout__button span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}

.Layout__button::after {
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(-100% - 80px);
  border-bottom: 80px solid white;
  border-right: 80px solid transparent;
  transition: 0.4s ease-in-out all;
}

.Layout__button:hover::after {
  left: 0;
}

.Layout__menu {
  display: none;
}

.Layout__menu__container {
  display: none;
}

@media screen and (max-width: 1000px) {
  .Layout__titulo {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .Layout__menu__container {
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }

  .Layout__menu__ul {
    width: 50%;
    position: absolute;
    right: 50%;

  }
  .Layout__menu__li {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .Layout__menu__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 3rem;
    background: #141414;
    color: #fff;

    font-size: 1em;
    font-weight: 500;
    border: 0.2rem solid rgb(112, 112, 112);
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .Layout__menu__button:hover {
    transition: 0.3s ease all;
    color: #000;
  }

  .Layout__menu__button span {
    position: relative;
    z-index: 2;
    transition: 0.3s ease all;
  }

  .Layout__menu__button::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);
    border-bottom: 80px solid white;
    border-right: 80px solid transparent;
    transition: 0.4s ease-in-out all;
  }

  .Layout__menu__button:hover::after {
    left: 0;
  }
  .Layout__ul {
    display: none;
  }

  .Layout__menu {
    display: block;
  }
}


