.lang__menu {
  position: relative;
  color: #000;
  width: 100%;
  padding: 0.2em;
  margin-right: 10rem;
}
.select__lang {
  cursor: pointer;
  width: 5.5rem;
  display: block;
  padding: 2px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}



.lang__menu ul {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 1px 10px #fff;
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 2rem;
  left: 0;
}

.lang__menu ul li button {
  width: 7rem;
  display: block;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  color: black;


}

.lang__menu ul li button:hover {
  background-color: #f2f2f2;

}

.lang__menu:hover ul {
  display: block;
}


.Lenguaje__container{

}


.switch {
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-green: #4296f4;
 }
 
 .slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  position: relative;
  transition: 0.3s all ease-in-out;
 }
 
 .slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-image: url("../public/img/Otros/ES.png");
  background-size: 100%;
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
 }
 

 .switch input[type="checkbox"]:checked + .slider::after{
  background-image: url("../public/img/Otros/EN.png");
  background-size: 100%;
 }
 
 .switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
 }
 
 .switch input[type="checkbox"] {
  display: none;
 }
 
 .switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
 }
 
 .switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
 }
 