.mouseShadow {
  position: "fixed";
  width: "40px";
  height: "40px";
  background-color: "transparent";
  border-radius: "50%";
  pointer-events: "none";
  box-shadow: "0 0 60px white, " + "inset 0 0 30px white";
  z-index: 9999;
}
