.Proyectos__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  background-attachment: fixed;
  margin: 0;
  width: 100%;
  height: auto;
}

.Proyectos__container title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Kalam", cursive;
}
.Proyectos__titulo__slideShow {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  background: var(--bgSlideShow);
  z-index: 2;
}

.Proyectos__titulo__slideShow h1 {
  font-size: 3em;
  line-height: 20px;
  font-family: "Roboto Slab", serif;
  color: var(--foreground);
}

.Proyectos__titulo__slideShow h3 {
  color: var(--foreground);
}

.SlideShow {
  width: 80%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.Proyectos__container__card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.Proyectos__card {
  width: 90%;
  height: 80vh;
  display: flex;
  border-radius: 25px;
  margin-top: 4rem;
  border: 1px solid #fff;
  background: var(--bgProyectos);
  animation: proyectosCard 0.5s ease-in-out;
  color: var(--foreground);
  z-index: 2;
}

.Proyectos__info {
  width: 50%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.line {
  height: 0.1rem;
  width: 80%;
  background-color: var(--foreground);
}

.Proyectos__info h1 {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2em;
  font-weight: 500;
  line-height: 10px;
}

.Proyectos__info p {
  font-size: 1em;
  margin-left: 1em;
  align-self: flex-start;
}
.Proyectos__info__detail {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Proyectos__info__detail h3 {
  width: 80%;
  font-size: 1em;
}

.Proyectos__info__education {
  width: 50%;
  margin-left: 1em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.enlaces {
  width: 40%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.enlaces a {
  color: inherit;
}

.link {
  font-size: 2rem;
  transition: 0.2s ease-in;
}

.link:hover {
  font-size: 3rem;
  color: var(--foreground);
  cursor: pointer;
}

.github {
  font-size: 2rem;
  transition: 0.2s ease-in;
}

.github:hover {
  font-size: 3rem;
  color: var(--foreground);
  cursor: pointer;
}

.Proyectos__img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: auto;
}
.Proyectos__img video {
  width: 80%;
}

.Proyectos__img img {
  width: 95%;
  height: 60%;
  border-radius: 25px;
}

.Proyectos__img .tenchnologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
  width: 50%;
}

.Proyectos__img h1 {
  font-size: 1.2rem;
  width: 80%;
  display: flex;
  align-items: flex-start;
}

.tecnologias {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 30%;
}

.habilidades {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  padding: 0.2rem;
  color: var(--foreground);
  border-radius: 20px;
  font-size: 1rem;
}

@media screen and (max-width: 1000px) {
  .Proyectos__container title {
    font-size: 3rem;
  }
  .Proyectos__titulo__slideShow {
    width: 90%;
  }
  .Proyectos__titulo__slideShow h1 {
    font-size: 1.3rem;
  }

  .Proyectos__titulo__slideShow h3 {
    font-size: 1.1rem;
  }

  .habilidades {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .habilidades h4 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .Proyectos__container title {
    margin-top: 2rem;
    font-size: 4rem;
  }
  .Proyectos__titulo__slideShow {
    width: 90%;
  }
  .Proyectos__titulo__slideShow h1 {
    font-size: 1.1rem;
  }

  .Proyectos__titulo__slideShow h3 {
    font-size: 0.9rem;
  }
  .Proyectos__card {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .Proyectos__info {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .Proyectos__info__detail h3 {
    font-size: 0.8rem;
  }
  .Proyectos__info__education h4 {
    font-size: 0.8rem;
  }

  .Proyectos__img {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .Proyectos__img video {
    width: 60%;
    margin-bottom: 1rem;
  }

  .habilidades {
    height: 100%;
    width: 80%;
    align-items: center;
  }

  .habilidades h4 {
    width: 1rem;
    height: 1rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 700px) {
  .Proyectos__img video {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .Proyectos__img video {
    width: 90%;
  }
  .Proyectos__img {
    height: 60vh;
  }
}

@media screen and (max-width: 500px) {
  .Proyectos__img video {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .Proyectos__container title {
    font-size: 2.5rem;
  }

  .Proyectos__titulo__slideShow {
    width: 90%;
  }
  .Proyectos__titulo__slideShow h1 {
    font-size: 0.9rem;
  }

  .Proyectos__info h1 {
    font-size: 1.5rem;
  }

  .Proyectos__titulo__slideShow h3 {
    font-size: 0.7rem;
  }
  .Proyectos__img video {
    width: 90%;
    margin-bottom: 2rem;
  }
  .Proyectos__info__detail h3 {
    font-size: 0.6rem;
  }
  .Proyectos__info__education h4 {
    font-size: 0.6rem;
  }

  .habilidades {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .habilidades h4 {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 360px) {
  .Proyectos__container title {
    font-size: 2rem;
  }
}
