.slideShow__container {
  position: relative;
}
.SlideShow {
  display: flex;
  flex-wrap: nowrap;
}

.Slide {
  min-width: 100%;
  overflow: hidden;
  transition: 0.3s ease all;
  z-index: 10;
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.SlideImages {
  width: 850px;
  height: 450px;
}

.textSlide {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 90%;
  padding: 10px 60px;
  position: absolute;
  bottom: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SlideButtons {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 11;
  width: 100%;
  height: 99%;
  pointer-events: none;
}

.SlideButtons button {
  background: none;
  border: none;
  color: #fff;
  pointer-events: all;
  cursor: pointer;
  outline: none;
  width: 50px;
  height: 100%;
  text-align: center;
  position: absolute;
  transition: 0.3s ease all;
}

#button_left {
  left: 0;
}

#button_left:hover {
  background: rgba(0, 0, 0, 0.5);
}

#button_rigth {
  right: 0;
}

#button_rigth:hover {
  background: rgba(0, 0, 0, 0.5);
}

.Link {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .textSlide {
    padding: 0;
    width: 100%;
  }

  .textSlide p {
    font-size: 0.7rem;
  }

  .SlideButtons {
    height: 99%;
  }
}
