.carouselContainer {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
}
.image {
  border-radius: 20px;
}

@media screen and (max-width: 700px) {
  .textSlide {
    padding: 0;
    width: 100%;
  }

  .textSlide p {
    font-size: 0.7rem;
  }

  .SlideButtons {
    height: 99%;
  }
}

.content {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content > h2 {
  color: #fff;
  font-size: 1.5rem;
}

.content > a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

@media screen and (max-width: 590px) {
  .content {
    flex-direction: column;
  }

  .content > h2 {
    font-size: 1.2rem;
  }

  .content > a {
    font-size: 1.2rem;
  }
}

/* Contenedor base para los dots */
.custom-dots {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Dot inactivo */
.custom-dots li button {
  display: none; /* Ocultamos el número del dot */
}

.custom-dots li {
  margin: 0 5px;
  width: 12px;
  height: 12px;
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Dot activo */
.custom-dots li.slick-active {
  background: #3498db; /* Cambia el color según tu diseño */
}
