.SobreMi__container {
  background-image: url("../public/img/Fondos/Fondo\ Sobre\ Mi.jpg");
  background-color: #d7d7d9;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100%;
  background-position-y: 25%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SobreMi__text {
  width: 50%;
  height: 70%;
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  border-radius: 25px;
  margin-left: 2rem;
}

.SobreMi__1hoja h1{
  text-align: center;
  background-color: #000;
  color: #fff;
  width: 100%;
}

.SobreMi__1hoja{
  width: 40%;
  height: 100%;
  text-align: left;
  color: #000;

}


.SobreMi__2hoja{
width: 40%;
height: 100%;
text-align: left;
color: #000;
}
.SobreMi__text p {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.SobreMi__buttons__cv {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.SobreMi__cv {
  padding: 0.8em 1.8em;
  border: 0.2rem solid rgb(112, 112, 112);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  transition: 0.3s;
  z-index: 1;
  color: #000;
  cursor: pointer;
  margin-top: 2rem;
}

.SobreMi__cv::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #000;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.SobreMi__cv:hover::before {
  width: 100%;
  height: 400%;
}

.SobreMi__cv:hover {
  color: #fff;
}

@media screen and (max-width: 1400px) {
  .SobreMi__1hoja h1{
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 80%;
  }

  .SobreMi__text p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1290px) {
  .SobreMi__1hoja h1{
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 80%;
  }

  .SobreMi__text p {
    font-size: 1rem;
  }

  .SobreMi__cv{
    font-size: 8px;
  }
}



@media screen and (max-width: 1200px) {
  .SobreMi__1hoja h1{
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 80%;
    font-size: 1.8rem;
  }

  .SobreMi__text p {
    font-size: 0.9rem;
  }

  .SobreMi__cv{
    font-size: 7px;
  }
}




@media screen and (max-width: 1090px) {
  .SobreMi__1hoja h1{
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 80%;
    font-size: 1.5rem;
  }

  .SobreMi__text p {
    font-size: 0.8rem;
  }

  .SobreMi__cv{
    font-size: 7px;
  }
}

/* APARTIR DE AQUI EMPIEZA EL DISEÑO TABLET */

@media screen and (max-width: 1021px) {
  .SobreMi__container{
    background-image: url('../public/img/Fondos/Fondo\ Sobre\ Mi\ Responsive.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-size: 100%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .SobreMi__text{
    width: 80%;
  }
  .SobreMi__1hoja{
    width: 100%;
    height: 80vh;
    margin-left: 5rem;
  }
  .SobreMi__2hoja{
    width: 100%;
    height: 80vh;
    
  }
  .SobreMi__1hoja h1{
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 80%;
    font-size: 1.3rem;
  }

  .SobreMi__text p {
    font-size: 1.1rem;
  }

  .SobreMi__cv{
    font-size: 10px;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 862px) {
  .SobreMi__container{
    background-image: url('../public/img/Fondos/Fondo\ Sobre\ Mi\ Responsive.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-size: 100%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .SobreMi__text{
    width: 80%;
  }
  .SobreMi__1hoja{
    width: 100%;
    height: 80vh;
    margin-left: 5rem;
  }
  .SobreMi__2hoja{
    width: 100%;
    height: 80vh;
    
  }
  .SobreMi__1hoja h1{
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 80%;
    font-size: 1.3rem;
  }

  .SobreMi__text p {
    font-size: 1rem;
  }

  .SobreMi__cv{
    font-size: 8px;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 770px) {
  .SobreMi__container{
    background-image: url('../public/img/Fondos/Fondo\ Sobre\ Mi\ Responsive.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-size: 100%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .SobreMi__text{
    width: 80%;
  }
  .SobreMi__1hoja{
    width: 100%;
    height: 80vh;
    margin-left: 5rem;
  }
  .SobreMi__2hoja{
    width: 100%;
    height: 80vh;
    
  }
  .SobreMi__1hoja h1{
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 80%;
    font-size: 1.3rem;
  }

  .SobreMi__text p {
    font-size: 0.9rem;
  }

  .SobreMi__cv{
    font-size: 7px;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 660px) {
  .SobreMi__container{
    background-image: url('../public/img/Fondos/Fondo\ Sobre\ Mi\ Responsive.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-size: 100%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .SobreMi__text{
    width: 90%;
    justify-content: space-evenly;
  }
  .SobreMi__1hoja{
    width: 100%;
    height: 80vh;
    margin-left: 5rem;
  }
  .SobreMi__2hoja{
    width: 100%;
    height: 80vh;
    
  }
  .SobreMi__1hoja h1{
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 80%;
    font-size: 1.3rem;
  }

  .SobreMi__text p {
    font-size: 0.8rem;
  }

  .SobreMi__cv{
    font-size: 6px;
    margin-top: 1rem;
  }
}

/* APARTIR DE AQUI EMPIEZA EL DISEÑO MOBILE */

@media screen and (max-width: 641px) {
  .SobreMi__container{
    background-image: url('../public/img/Fondos/Fondo\ Sobre\ Mi\ Mobile.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-size: 100%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .SobreMi__text{
    width: 90%;
    height: 505;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 6rem;
    margin-right: 2rem;
  }
  .SobreMi__1hoja{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .SobreMi__2hoja{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .SobreMi__1hoja h1{
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 80%;
    font-size: 1.3rem;
    margin: 0;
  }

  .SobreMi__text p {
    font-size: 0.7rem;
  }

  .SobreMi__cv{
    font-size: 6px;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 574px) {
  .SobreMi__container{
    background-image: url('../public/img/Fondos/Fondo\ Sobre\ Mi\ Mobile.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-size: 100%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .SobreMi__text{
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 8rem;
    margin-right: 2rem;
  }
  .SobreMi__1hoja{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .SobreMi__2hoja{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .SobreMi__1hoja h1{
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 80%;
    font-size: 1.3rem;
    margin: 0;
  }

  .SobreMi__text p {
    font-size: 0.6rem;
  }

  .SobreMi__cv{
    font-size: 6px;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 525px) {
  .SobreMi__container{
    background-image: url('../public/img/Fondos/Fondo\ Sobre\ Mi\ Mobile.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-size: 100%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .SobreMi__text{
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
    margin-right: 2rem;
  }
  .SobreMi__1hoja{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .SobreMi__2hoja{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .SobreMi__1hoja h1{
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 80%;
    font-size: 1.3rem;
    margin: 0;
  }

  .SobreMi__text p {
    font-size: 0.5rem;
  }

  .SobreMi__cv{
    font-size: 6px;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 452px) {
  .SobreMi__container{
    background-image: url('../public/img/Fondos/Fondo\ Sobre\ Mi\ Mobile.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-size: 100%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .SobreMi__text{
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
    margin-right: 2rem;
  }
  .SobreMi__1hoja{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .SobreMi__2hoja{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .SobreMi__1hoja h1{
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 80%;
    font-size: 1.3rem;
    margin: 0;
  }

  .SobreMi__text p {
    font-size: 0.5rem;
  }

  .SobreMi__cv{
    font-size: 6px;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 421px) {
  .SobreMi__container{
    background-image: url('../public/img/Fondos/Fondo\ Sobre\ Mi\ Mobile.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-size: 100%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .SobreMi__text{
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    margin-right: 2rem;
  }
  .SobreMi__1hoja{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .SobreMi__2hoja{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .SobreMi__1hoja h1{
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 80%;
    font-size: 1.3rem;
    margin: 0;
  }

  .SobreMi__text p {
    font-size: 0.4rem;
  }

  .SobreMi__cv{
    font-size: 4px;
    margin-top: 1rem;
  }
}