.SobreMi__container {
  background-image: url("../public/—Pngtree—indoor\ office_1198573.jpg"); 
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SobreMi__text {
  width: 60%;
  height: 90%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgb(66,66,66);
  background: linear-gradient(90deg, rgb(96, 96, 96) 0%, rgba(128,128,128,1) 35%, rgb(198, 198, 198) 100%);
  border-radius: 25px;
}

.SobreMi__text p {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.SobreMi__cv {
  margin-top: 2rem;
  padding: 0.8em 1.8em;
  border: 0.2rem solid rgb(112, 112, 112);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;

  color: #fff;
  cursor: pointer;
}

.SobreMi__cv::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #fff;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.SobreMi__cv:hover::before {
  width: 100%;
  height: 400%;
}

.SobreMi__cv:hover {
  color: #111;
}

.SobreMi__buttons__cv {
  width: 30rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

@media screen and (max-width: 972px) {
  .SobreMi__container {
    width: 100%;
    height: auto;
  }
  .SobreMi__text {
    width: 100%;
  }

  .SobreMi__cv {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 651px) {
  .SobreMi__container {
    width: 100%;
    height: auto;
  }
  .SobreMi__text {
    width: 100%;
  }

  .SobreMi__cv {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .SobreMi__container {
    width: 100%;
    height: auto;
  }
  .SobreMi__text {
    width: 80%;
  }
  .SobreMi__text p {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
  .SobreMi__buttons__cv{
    width: 80%;
  }
  .SobreMi__cv {
    width: 8rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .SobreMi__container {
    width: 100%;
    height: auto;
  }
  .SobreMi__text {
    width: 80%;
  }
  .SobreMi__text p {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
  .SobreMi__buttons__cv{
    width: 80%;
  }
  .SobreMi__cv {
    width: 8rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .SobreMi__container {
    width: 100%;
    height: auto;
  }
  .SobreMi__text {
    width: 80%;
  }
  .SobreMi__text p {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
  .SobreMi__buttons__cv{
    width: 80%;
  }
  .SobreMi__cv {
    width: 8rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .SobreMi__container {
    width: 100%;
    height: auto;
  }
  .SobreMi__text {
    width: 80%;
  }
  .SobreMi__text p {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
  .SobreMi__buttons__cv{
    width: 80%;
  }
  .SobreMi__cv {
    width: 8rem;
    margin-bottom: 2rem;
  }
}
