.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.image {
  max-width: 550px;
  max-height: 350px;
  position: relative;
  margin-top: 10px;
}

@media screen and (max-width: 693px) {
  .image {
    max-width: 450px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 540px) {
  .image {
    max-width: 350px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 430px) {
  .image {
    max-width: 250px;
    margin-top: 10px;
  }
}
